.container {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .sub_title {
    margin-bottom: 20px;
    color: rgb(37, 37, 190);
  }
  .title{
    font-weight: 700;
    font-size: 40px;
  }
}
