.contact {
  margin: 80px 0;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  .contact-col {
    flex-basis: 48%;
    color: #676767;

    h3 {
      color: #000f38;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    img {
      width: 30px;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }
    p {
      font-size: 16px;
      font-weight: 600px;
      margin-bottom: 20px;
      line-height: 1.5;
      max-width: 75%;
    }
    ul li {
      list-style: none;
      margin: 20px 0;
      display: flex;
      align-items: center;
      text-align: center;
      img {
        width: 25px;
        margin-right: 10px;
        margin-left: 0;
      }
    }

    form {
      input,
      textarea {
        width: 100%;
        background-color: #ebecfe;
        display: block;
        padding: 15px;
        border: 0;
        outline: 0;
        margin-bottom: 15px;
        margin-top: 5px;
        resize: none;
      }
      button {
        font-size: 14px;
        img {
          width: 20px;
        }
      }
    }
  }
}

.result-message {
  display: block;
  margin-top: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
  &.success {
    color: green;
  }

  &.error {
    color: red;
  }
  &hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

// Media Query
@media (max-width: 768px) {
  .contact {
    display: block;
    .contact-col {
      padding-bottom: 20px;
    }
  }
}
@media (max-width: 480px) {
  .contact {
    .contact-col {
      form {
        button {
          font-size: 12px;
          img {
            width: 13px;
          }
        }
      }
    }
  }
}
