
// 480.768,992,1200,1440

.navbar {
  font-weight: 650;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 10%;
  color: white;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 10;
  transition: 0.5s;

  &.hidden {
    transform: translateY(-100%);
  }
  &.visible {
    transform: translateY(0);
  }
  &.scrolled {
    background-color: #212ea0;
  }
  .logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
      display: block;
    }
  }
  .content {
    width: 60%;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      li {
        margin-left: 20px;
        button {
          color: black;
        }
      }
    }
    .menu-icon {
      display: none;
    }
  }
}

// Media query
@media (max-width: 1200px) {
  .navbar {
    .logo {
      width: 30%;
      img {
        width: 160px;
      }
    }
    .content {
      width: 70%;
      ul li {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 15px 0;
    background-color: transparent;
    &.scrolled {
      background-color: transparent;
    }

    .content {
      display: flex;
      position: relative;
      ul {
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: #212ea0;
        width: 200px;
        padding-top: 80px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 25px;
        li {
          display: block;
        }
      }
      .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 100px;
        transform: translateX(50%);
      }
      .hide-mobile-menu{
        right: -200px;
      }
    }
  }
}
