.footer {
  width: 90%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #797979;
  padding: 15px 0;

  ul {
    display: flex;
    gap: 20px;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    display: block;
    text-align: center;
    ul {
        margin-top: 10px;
        justify-content: center;
      li {
        margin: 10px;
      }
    }
  }
}
