.testimonials {
  width: 90%;
  margin: 80px 0;
  padding: 0 100px;
  position: relative;
  .next-button {
    position: absolute;
    background: #212ea0;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .back-button {
    position: absolute;
    background: #212ea0;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .slider {
    overflow: hidden;
    ul {
      display: flex;
      width: 200%;
      overflow-x: hidden;
      transition: 0.7s;

      li {
        list-style: none;
        width: 50%;
        padding: 20px;

        .slide {
          color: #676767;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          line-height: 1.4;
          padding: 20px;
          .user-info {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
            img {
              width: 65px;
              border-radius: 50%;
              border: 4px #212ea0 solid;
            }
            h3 {
              color: #212ea0;
              font-weight: 650;
            }
            span {
              font-weight: 500;
            }
          }
          p {
            max-width: 95%;
          }
        }
      }
    }
  }
}
