.campus {
  width: 90%;
  margin: 80px 0;
  text-align: center;
  .gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    img {
      width: 23%;
      border-radius: 10px;
    }
  }
  .btn {
    // border: 1px solid rgb(72, 68, 68);
  }
}

@media (max-width: 768px) {
  .campus {
    .gallery {
      flex-wrap: wrap;
      img {
        width: 48%;
        margin-bottom: 20px;
      }
    }
    .btn{
      font-size: 13px;
      padding: 10px 5px;

    }
  }
}
@media (max-width: 480px) {
  .campus {
    .gallery {
      img {
        width: 100%;
      }
    }
  }
}
