@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  line-height: 1;
}

.container {
  padding: 10%;
}

.btn {
  background: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

  &:hover {
    background-color: #ddd;
    color: black;
  }

  img {
    width: 20px;
    margin-left: 10px;

    &:hover {
      filter: brightness(0); // đổi ảnh sang màu tối nếu là icon đen trắng
    }
  }
}
.white_mode {
  color: white;
  background-color: #242e9a;
}
.dark_mode {
  background-color: #ddd;
  color: black;
}
